---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import WeatherDashboard from '../components/WeatherDashboard.jsx';
---

<Layout title="SiPETA Cuaca Tani">
  <main class="p-4 sm:p-6 md:p-8" id="weather-dashboard">
    
    <WeatherDashboard client:load />

  </main>
</Layout>