---
const year = new Date().getFullYear();
---
<footer class="bg-neutral-800 text-neutral-300 text-center p-6 mt-12">
    <p>&copy; {year} SIPETA CUACA TANI. Diberdayakan oleh Petani untuk Petani.</p>
</footer>