---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/globals.css';

interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="id" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Website Prakiraan Cuaca Terintegrasi untuk Petani Modern Indonesia" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
		<title>{title} | SIPETA CUACA TANI</title>
	</head>
	<body class="bg-neutral-50 text-neutral-800 font-sans antialiased">
		<Header />
		<main class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12 min-h-screen">
			<slot />
		</main>
		<Footer />
	</body>
</html>